@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Телефоны</title>
</head>
<body>
    <div id="content"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>*@

    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/highcharts.src.js")'></script>
        
    <script src='@Url.Content("~/Scripts/Phone/Page.jsx")'></script>
    <script src='@Url.Content("~/Scripts/Phone/Form.jsx")'></script>
    <script src='@Url.Content("~/Scripts/Phone/Table.jsx")'></script>
    <script src='@Url.Content("~/Scripts/Phone/Chart.jsx")'></script>
    <script src='@Url.Content("~/Scripts/app.jsx")'></script>
    
</body>
</html>